<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/error/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/jsp/error/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/jsp/error/error.jsp</location>
    </error-page>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <jsp-config>
        <taglib>
            <taglib-uri>custom_tag</taglib-uri>
            <taglib-location>/WEB-INF/tag/custom_tag.tld</taglib-location>
        </taglib>
    </jsp-config>

    <filter>
        <filter-name>disableUrlSessionFilter</filter-name>
        <filter-class>com.drobot.web.controller.filter.DisableUrlSessionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>servletSecurityCommonFilter</filter-name>
        <filter-class>com.drobot.web.controller.filter.ServletSecurityCommonFilter</filter-class>
    </filter>
    <filter>
        <filter-name>servletSecurityEmployeeFilter</filter-name>
        <filter-class>com.drobot.web.controller.filter.ServletSecurityEmployeeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>jspSecurityFilter</filter-name>
        <filter-class>com.drobot.web.controller.filter.JspSecurityFilter</filter-class>
    </filter>
    <filter>
        <filter-name>servletSecurityAdminFilter</filter-name>
        <filter-class>com.drobot.web.controller.filter.ServletSecurityAdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>dynamicUrlFilter</filter-name>
        <filter-class>com.drobot.web.controller.filter.DynamicUrlFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>disableUrlSessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>servletSecurityCommonFilter</filter-name>
        <url-pattern>/mainController</url-pattern>
        <url-pattern>/loginPage</url-pattern>
        <url-pattern>/mainPage</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>servletSecurityEmployeeFilter</filter-name>
        <url-pattern>/mainPage/newPatient</url-pattern>
        <url-pattern>/mainPage/newPatient/*</url-pattern>
        <url-pattern>/mainPage/patients</url-pattern>
        <url-pattern>/settings</url-pattern>
        <url-pattern>/settings/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>servletSecurityAdminFilter</filter-name>
        <url-pattern>/mainPage/users</url-pattern>
        <url-pattern>/mainPage/employees</url-pattern>
        <url-pattern>/mainPage/userRegistration</url-pattern>
        <url-pattern>/mainPage/userRegistration/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>dynamicUrlFilter</filter-name>
        <url-pattern>/mainPage/users/*</url-pattern>
        <url-pattern>/mainPage/employees/*</url-pattern>
        <url-pattern>/mainPage/patients/*</url-pattern>
        <url-pattern>/mainPage/records/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>jspSecurityFilter</filter-name>
        <url-pattern>/jsp/*</url-pattern>
    </filter-mapping>
</web-app>